<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kqsystem_teachers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sdjzu.kqsystem_teacher.SpashAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.sdjzu.kqsystem_teacher.TeaKqChoice" >
        </activity>
        <activity android:name="edu.sdjzu.kqsystem_teacher.TeaKqChoiceAct" >
        </activity>
        <activity
            android:name="edu.sdjzu.kqsystem_teacher.LoginAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="edu.sdjzu.kqsystem_teacher.TeaIndexAct"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="edu.sdjzu.kqsystem_teacher.TeaJDTBTipAct" >
        </activity>
        <activity android:name="edu.sdjzu.kqsystem_teacher.TeaStuOrderAct" >
        </activity>

        <receiver android:name="edu.sdjzu.broadcast.NetErrorReceiver" >
            <intent-filter>
                <action android:name="NETWORK_ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name="edu.sdjzu.broadcast.NetSubmitKQReceiver" >
            <intent-filter>
                <action android:name="NET_SUBMIT_KQ" />
            </intent-filter>
        </receiver>

        <service android:name="edu.sdjzu.service.NetService" >
        </service>
    </application>

</manifest>